@media(max-width:1200px)
{

    header{
        width: 980px;
    }

    .titulo_superior{
        margin-top: -1px;
        font-size: 40px;
        margin-left: 35px;
    }

    
    .subtitulo_superior{
        font-size: 30px;
        margin-left: 35px;
    }


    .presente{
        margin-left: 600px;
    }

    .box_corSteelBlue{
        margin-left: 30px;
        width: 230px;
        height: 160px;
    }

    .text_boxSteelBlue{
        margin-left: 30px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }

    .box_corMidnightBlue{
        margin-top: -310px;
        margin-left: 350px;
        width: 230px;
        height: 160px;
    }

    .text_boxMidnightBlue{
        margin-left: 350px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }

    .box_corDeepSkyBlue{
        margin-top: -310px;
        margin-left: 670px;
        width: 230px;
        height: 160px;
    }

    .text_boxDeepSkyBlue{
        margin-left: 670px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }


    .box_corLime{
        margin-left: 30px;
        width: 230px;
        height: 160px;
    }

    .text_boxLime{
        margin-left: 30px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }

    .box_corDarkGreen{
        margin-top: -310px;
        margin-left: 350px;
        width: 230px;
        height: 160px;
    }

    .text_box_DarkGreen{
        margin-left: 350px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }

    .box_corPaleGreen{
        margin-top: -310px;
        margin-left: 670px;
        width: 230px;
        height: 160px;
    }

    .text_boxPaleGreen{
        margin-left: 670px;
        width: 230px;
        height: 150px;
        font-size: 25px;
    }

    footer{
        width: 980px;
        height: 650px;
        font-size: 20px;       
    }

    .caixas_contato{
        font-size: 30px;
    }

    .caixa_mensagem{
        font-size: 30px;
    }

    .caixa_enviar{
        font-size: 30px;
    }
}